<!doctype html>
<html>
  <head>
    <!-- init -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cansur</title>

    <!-- <link rel="stylesheet" href="tmp/style.css"> -->

    <!-- Bootstap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  </head>
  <body class="bg-dark text-light">

    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:8080/">Cansur</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://localhost:8080/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/Users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/board">Board</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div><br><br>
        <form action="/board" method="post">
        <div class="input-group mb-3 w-25 container-sm">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">제목</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">제목</a></li>
              <li><a class="dropdown-item" href="#">내용</a></li>
              <li><a class="dropdown-item" href="#">제목+내용</a></li>
            </ul>
            <input type="text" class="form-control" aria-label="Text input with dropdown button" name="search">
        </div>
        </form> 
    </div><br>

    <div class="container">
        <form id="boardForm" name="boardForm" method="post" action="/board">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>날짜</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((el,index) => {%>
                        <tr>
                            <!-- <th scope="row"> -->
                            <td><%= el.seq %></td>
                            <td><a href="http://localhost:8080/board/view/<%= el.seq %>"><%= el.title %></a></td>
                            <td><%= el.user_id %></td>
                            <td><%= el.created_time %></td>
                            <td><%= el.likes %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

            <div class="d-flex justify-content-center">
                <nav aria-label="...">
                    <ul class="pagination">
                        <!-- < 버튼 -->
                        <%if(data2[0] != 0) { %>
                            <% if(data2[1] != 1) {%>
                                <li class="page-item"><a class="page-link" href="http://localhost:8080/board?search=<%=data2[3]%>&pageno=<%= data2[1]-1 %>"><</a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="http://localhost:8080/board?search=<%=data2[3]%>&pageno=<%= data2[1] %>"><</a></li>
                            <% } %>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="#"><</a></li>
                        <% } %>
                        
                        <% var num = data2[0] - (50 * data2[2]) > 51 ? 50 : data2[0] - (50 * data2[2]) ; %>
                        <%for (var i = Math.floor(data2[2]/5); i < num/10; i++) { %>
                            <% if(i == data2[1]-1-(data2[2]*5)) {%>
                                <li class="page-item active" aria-current="page">
                            <% } else { %>
                                <li class="page-item active" aria-current="page"></li>
                            <% } %>
                                <a class="page-link" href="http://localhost:8080/board?search=<%=data2[3]%>&pageno=<%=i+1+(data2[2]*5)%>"><%=i+1+(data2[2]*5)%></a>
                            </li>
                        <% }%>

                        <!-- > 버튼 -->
                        <%if(data2[0] != 0) {%>
                            <% if(data2[1] != Math.ceil(data2[0] / 10)) { %>
                                <li class="page-item"><a class="page-link" href="http://localhost:8080/board?search=<%=data2[3]%>&pageno=<%= data2[1]+1 %>">></a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="http://localhost:8080/board?search=<%=data2[3]%>&pageno=<%= data2[1] %>">></a></li>
                            <% } %>
                        <% } else {%>
                            <li class="page-item"><a class="page-link" href="#">></a></li>
                        <% }%>
                    </ul>
                  </nav>
            </div>

            <!-- 실험중 -->

            <div>            
                <a href='http://localhost:8080/board/write' onClick="" class="btn btn-success">글쓰기</a>
            </div>
        </form>
    </div>

    
       

    <!-- Bootstap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>